extends ../layout

block body
	h1.form-heading New Dogcation Story
	include errors
	form(action='/story', method='post', enctype='multipart/form-data')
		div.form
			.form-group
				label(for='title') 
				input.form-control(name='title', value= post.title, autofocus placeholder='One Word Title')
			.form-group
				label(for='body') 
				textarea.form-control(name='body' value= post.body, autofocus placeholder='Your Dogcation Story')
			.form-group
				label(for='author') 
				input.form-control(name='author', value= post.author, autofocus placeholder='Your Name')
			.form-group
				label(for='link') 
				input.form-control(name='link', value= post.link, autofocus placeholder='www.YourDogcationLink.com')
			.form-group
				label(for='image') 
				input.form-group(name='image', type='file')
			.form-group.button
				input.btn.btn-success(type='submit', value='Post')
