doctype html
html
	head
		meta(charset='UTF-8')
		title Dogcation
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Life+Savers') 
	body
		.container.fluid
		.navbar-header.nav.navbar
			a.navbar-brand(href='/')
				img(src='/images/logoTN.png') 
			div.searchfield
				form.navbar-form.navbar-right(action='/story/search', method='get')
					.form-group
						input.form-control(name='query', placeholder='Search Dogcation')
				div.searchbutton
					input.btn.btn-default(type='submit', value='Search')
		.container
			block body