doctype html
html
	head
		meta(charset='UTF-8')
		title Dogcation
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-default
			.container
				.navbar-header
					a.navbar-brand(href='/') Dogcation
				form.navbar-form.navbar-right(action='/story/search', method='get')
					.form-group
						input.form-control(name='query', placeholder='Search Dogcation')
					input.btn.btn-default(type='submit', value='Search')
		.container
			block body