body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.alertbox {
	width: 500px;
    margin: auto;
    padding: 15px 20px 15px 70px;
    margin-bottom: 25px;
    background-color: #f44336;
    color: white;
}
