body {
  padding: 50px;
  font-family: 14px 'Life Savers', cursive;
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*  background-image: url("/images/fredSUP.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}

a {
  color: #00B7FF;
}


.alertbox {
	width: 500px;
    margin: auto;
    padding: 15px 20px 15px 70px;
    margin-bottom: 25px;
    background-color: #f44336;
    color: white;
}

.button {
	margin-top: 20px;
}

.form {
    width: 50%;
    margin-left: 20px;	
    font-size: 16px;
 }

.navbar1 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 1px;
	padding: 2px;
	font-size: 16px;
}

.searchbutton {
  margin-left: 16px;
  margin-top: 192px;
}

.searchfield {
  margin-left: 20px;
  margin-top: 180px;
}

.search-results {
  margin-top: 80px;
}














